{% include "store/base.html" %}

{% load static %}

{% block content %}
   <style>
        body{
            background-color: grey;
        }


    </style>


     <body>
        <br>
        <div class="container bg-white shadow-nd p-5 form-layout">
          
          <div class="text-center">
            <div class="text-center">
              <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
            </div>
            <br>
            <h5> <strong> Your account is activate! </strong></h5>
            <hr>
            <p> please proceed to login. </p>


          </div>
        </div>
      </body>
{% endblock %}



























