{% include "store/base.html" %}

{% load static%}

{% load crispy_forms_tags %}

{% block content%}
<style>
        body{
            background-color: grey;
        }
</style>

<body>

  <div class="container bg-white shadow-nd p-5 form-layout mt-5 text-center">

    <h3>Password Reset Complete</h3>
    <hr>
    <p>
      Password reset is completed. You may proceed to login page.
    </p>
    <a class="btn btn-alert navbar-btn text-white btn-primary w-100" type="button"  href="{% url 'my-login' %}">Login</a>
       

  </div>
</body>



{% endblock %}